@import '../../styles/variaveis';

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: $azul-rodape;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.rodape div {
    display: flex;
    gap: 2em;
    align-items: center;
}

.rodape span {
    font-family: $fonte-normal;
    color: $cor-do-texto;
}
